
 <div class="container main-container headerOffset">
   <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li> <a href="/">Home</a> </li>
        <li> <a href="/user/account">Mi cuenta</a> </li>
         <li class="active">Editar</li>
      </ul>
    </div>
  <div class="row innerPage">
   
    <div class="col-lg-9 col-md-9 col-sm-7">
      <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-user"></i> Informacion personal </span></h1>
      <div class="row userInfo">
        <div class="col-lg-12">
          <p class="required"><sup>*</sup> Campo requerido</p>
        </div>
        <form action="/user/updatepass/<%= user.id %>" method="POST" id="form" role="form">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="InputName">Contrasena <sup>*</sup> </label>
                <input name="password" class="form-control input"  size="20" id="password" placeholder="Contrasena" type="password">
              </div>
               <div class="form-group required">
              <label for="InputName">Confirmar Contrasena <sup>*</sup> </label>
                <input name="confirmation" class="form-control input"  size="20" placeholder="Confirmar Contrasena" type="password">
              </div>
            </div>

          </div>
          <div class="col-lg-12">
            <button type="submit" class="btn   btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar </button>
             <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </div>
        </form>
        <div class="col-lg-12 clearfix">
          <ul class="pager">
            <li class="previous pull-right"><a href="/"> <i class="fa fa-home"></i>Ir a la tienda</a></li>
             <% if (session.authenticated && session.User.admin) { %>
                <li class="next pull-left"><a href="/user/"> &larr; Regresar</a></li>
             <% } else { %>
                  <li class="next pull-left"><a href="/user/account"> &larr; Regresar</a></li>
               <% } %> 
          </ul>
        </div>
      </div>
      <!--/row end--> 
      
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
  </div>
  <!--/row-->
    
  </div> <!--/.innerPage-->
  <div style="clear:both">  </div>
</div><!-- /.main-container -->

<div class="gap"> </div>


<script type="text/javascript" src="/script/jquery/jquery-1.10.1.min.js"></script> 
<script src="/bootstrap/js/bootstrap.min.js"></script> 
<script src="/script/idangerous.swiper-2.1.min.js"></script> 
<script src="/script/validate/jquery.validate.min.js"></script>
<script src="/script/validate/passEdit.js"></script>  